<div class="container">
  <div class="row mt-4">
    <h4>
      <span class="border px-3" style="background-color: #f5f5f5;">商品詳細</span>
    </h4>
  </div>

  <div class="row mt-5">
    <div class="col-sm-5">
      <%= @item.image %>
    </div>
    <div class="col-sm-7">
      <table class="table table-borderless">
        <tbody>
          <tr>
            <th>商品名</th>
            <th><%= item.name %></th>
          </tr>
          <tr>
            <th>商品説明</th>
            <th><%= item.introduction %></th>
          </tr>
          <tr>
            <th>ジャンル</th>
            <th></th>
          </tr>
          <tr>
            <th>税込価格<br>
            (税抜価格)
            </th>
            <th><%= item.price %></th>
          </tr>
          <tr>
            <th>販売ステータス</th>
            <th></th>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row mt-4">
    <%= link_to "編集する", edit_admin_item_path(@item), class:"btn btn-success" %>
  </div>
</div>