<div class="container">
  <div class="row mt-3 pl-4">
    <h4>
      <span class="border px-3" style="background-color: #f5f5f5;">注文履歴一覧</span>
    </h4>
  </div>

  <div class="row mt-3">
    <div class="col-sm-12">
      <table class="table table-bordered">
        <thead>
          <tr class="table-active">
            <th>購入日時</th>
            <th>購入者</th>
            <th>注文個数</th>
            <th>注文ステータス</th>
          </tr>
        </thead>
        <tbody>
          <% @order_details.each do |order_detail| %>
          <tr>
            <td>
              <%= link_to admin_order_path(order_detail.order.id) do %>
                <%= order_detail.created_at.strftime('%Y/%m/%d %R:%S') %>
              <% end %>
            </td>
            <td><%= order_detail.order.customer.last_name + order_detail.order.customer.first_name %></td>
            <td><%= order_detail.amount %></td>
            <td><%= order_detail.order.status_i18n %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>